@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  color: black;
}

.navbar-nav .nav-link {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 14px;
  color: #1175bc;
}

.navbar-nav .nav-link.dropdown-toggle::after {
  display: none;
}

.hero-section {
  background: linear-gradient(
      0deg,
      rgba(17, 117, 188, 0.75),
      rgba(17, 117, 188, 0.75)
    ),
    url('../src/assets/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  color: white;

  display: flex;
  align-items: center;
}

.hero-section h1 {
  font-weight: 900;
  font-size: 56px;
}

.green-text {
  color: #8cc63f;
}

.hero-section p {
  font-size: 16px;
  font-weight: 500;
}

.hero-section .custom-btn {
  background-color: rgb(140, 198, 63);
  border-radius: 30px;
  border: none !important;
  outline: none !important;
  padding: 10px 20px;

  font-weight: 600;
  font-size: 14px;
}

.btn:active {
  color: var(--bs-btn-active-color);
  background-color: rgba(140, 198, 63, 0.75) !important;
  border-color: none !important;
}

.about-section .margin {
  margin-top: -50px;
}

.about-section .circle {
  height: 50px;
  width: 50px;

  background-color: rgba(17, 117, 188, 0.03);
}

.about-section .card {
  border-radius: 20px;
  border: none !important;
  padding: 50px 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section .card-body {
  text-align: center;
}

.section-padding {
  padding: 75px 0 0 0;
}

.services-section .card {
  border-color: #1175bc;
  width: auto !important;
}

.services-section .card img {
  height: 50px;
  width: 50px;

  margin: 15px 0px 0px 15px;
}

.products-section .card {
  border-color: #1175bc;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.products-section .card img {
  height: 80px;
  width: min-content;

  margin: 15px 0px 0px 15px;
}

.heading {
  font-size: 40px;
  font-weight: 600;
  color: #1175bc;
}

.sub-heading {
  font-size: 16px;
  font-weight: 900;
  color: #4e4b4b;
}

.experience-section h3 {
  font-size: 32px;
  font-weight: 900;
  color: #1175bc;
}

.experience-section p {
  font-size: 16px;
  font-weight: 600;
}

.section-technology p {
  font-weight: 500;
}
